.gradiente-radial {
  background: rgb(182, 147, 184);
  background: radial-gradient(circle, rgb(182, 147, 184) 47%, rgba(75, 139, 163, 0.3505777311) 100%);
}

.gradiente-lineal {
  background-image: linear-gradient(to right, rgb(182, 147, 184), rgba(75, 139, 163, 0.3505777311));
}

.fondo-azul {
  background-image: linear-gradient(to right, rgb(48, 53, 77) 0%, rgb(0, 0, 0) 100%);
}

.fondo-body {
  background: radial-gradient(circle, rgb(236, 208, 226) 47%, rgb(191, 174, 185) 100%);
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "rubik";
  src: url("../ProyectoFinal/Rubik/Rubik-VariableFont_wght.ttf");
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid #30354d;
  background-color: whitesmoke;
}
header img {
  width: 280px;
  height: 80px;
}
header nav ul {
  font-family: "rubik", "Gill Sans", Calibri;
  list-style-type: none;
  display: flex;
}
header nav ul li {
  padding: 10px;
}
header nav ul li a {
  color: #30354d;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #30354d;
  margin: 10px;
  transition: 1s;
}

.dropdown-menu {
  background-color: #30354d;
}

.dropdown-item {
  color: whitesmoke;
}

.dropdown-item:hover {
  color: #30354d;
}

.titulo {
  color: whitesmoke;
  background-color: #30354d;
  text-align: center;
  font-size: 3rem;
  font-family: "rubik", "Gill Sans", Calibri;
  border-bottom: 2px solid white;
  padding-top: 5px;
}

.eras {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px;
  box-shadow: 11px 11px 21px -1px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 11px 11px 21px -1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 11px 11px 21px -1px rgba(0, 0, 0, 0.65);
}

.grid-container {
  display: grid;
  margin: 70px;
  font-family: "rubik", "Gill Sans", Calibri;
  overflow: hidden;
  font-size: 1rem;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 70px;
}

.grid-item-1 {
  background-color: rgba(99, 54, 121, 0.4);
  color: #30354d;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
}
.grid-item-1 p {
  font-family: "rubik", "Gill Sans", Calibri;
  font-size: 1rem;
  text-align: justify;
  width: auto;
  overflow: hidden;
  margin: 40px;
  align-self: center;
  max-height: 400px;
  text-align: center;
}
.grid-item-1 p:hover {
  transform: translate(-20px, -20px);
  transition: 2s;
}
.grid-item-1 img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 40px;
  border-radius: 50px;
}

.grid-item-2, .grid-item-3, .grid-item-4 {
  background-color: rgba(99, 54, 121, 0.4);
  color: #30354d;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-item-2:hover, .grid-item-3:hover, .grid-item-4:hover {
  transform: translate(0px, -30px);
  transition: 2s;
}
.grid-item-2 img, .grid-item-3 img, .grid-item-4 img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 40px;
  border-radius: 50px;
}
.grid-item-2 p, .grid-item-3 p, .grid-item-4 p {
  font-family: "rubik", "Gill Sans", Calibri;
  font-size: 1rem;
  text-align: justify;
  width: auto;
  overflow: hidden;
  margin: 40px;
  align-self: center;
}

.grid-container-eras {
  display: grid;
  margin: 70px;
  font-family: "rubik", "Gill Sans", Calibri;
  overflow: hidden;
  font-size: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(11, auto);
  grid-row-gap: 30px;
}

.grid-container-eras .grid-item-era {
  background-color: rgba(99, 54, 121, 0.4);
  color: #30354d;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-container-eras .grid-item-era .titulo-era {
  position: absolute;
  font-size: 1.5rem;
  align-self: flex-start;
  padding: 20px;
}
.grid-container-eras .grid-item-era p {
  font-family: "rubik", "Gill Sans", Calibri;
  font-size: 1rem;
  text-align: justify;
  width: auto;
  overflow: hidden;
  margin: 40px;
  align-self: center;
  margin: 30px;
  padding-top: 30px;
  max-height: 340px;
}
.grid-container-eras .grid-item-era img {
  width: auto;
  height: 405px;
  border-radius: 30px;
  padding: 20px;
}

#taylorswift:hover, #ttpd:hover, #midnights:hover, #evermore:hover, #folklore:hover, #lover:hover, #reputation:hover, #nineteen:hover, #red:hover, #speaknow:hover, #fearless:hover {
  background-color: rgba(30, 148, 89, 0.527);
  transition: 1s;
  color: whitesmoke;
  transform: scale(1) translate(0px, 20px);
}
#taylorswift:not(:hover), #ttpd:not(:hover), #midnights:not(:hover), #evermore:not(:hover), #folklore:not(:hover), #lover:not(:hover), #reputation:not(:hover), #nineteen:not(:hover), #red:not(:hover), #speaknow:not(:hover), #fearless:not(:hover) {
  transform: scale(0.9);
}

#fearless:hover {
  background-color: rgba(235, 232, 62, 0.37);
}

#speaknow:hover {
  background-color: rgba(155, 15, 155, 0.774);
}

#red:hover {
  background-color: rgb(153, 10, 10);
}

#nineteen:hover {
  background-color: rgba(23, 99, 134, 0.651);
}

#reputation:hover {
  background-color: rgb(0, 0, 0);
}

#lover:hover {
  background-color: rgba(252, 9, 102, 0.801);
}

#folklore:hover {
  background-color: rgba(49, 47, 47, 0.836);
}

#evermore:hover {
  background-color: rgb(61, 18, 5);
}

#midnights:hover {
  background-color: rgba(8, 22, 104, 0.753);
}

#ttpd:hover {
  background-color: rgba(102, 78, 64, 0.959);
}

.tour {
  display: grid;
  margin: 70px;
  font-family: "rubik", "Gill Sans", Calibri;
  overflow: hidden;
  font-size: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 60px);
  color: #30354d;
  text-align: center;
  border-radius: 15px;
  font-size: 1.3rem;
}
.tour .encabezados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1/4;
  padding: 15px;
  background-color: #30354d;
  text-align: justify;
  color: whitesmoke;
  border-radius: 15px;
}
.tour .fecha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/4;
  background-color: rgba(99, 54, 121, 0.4);
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
}
.tour .fecha:hover {
  background-color: #30354d;
  color: whitesmoke;
  font-size: 1.4rem;
  transition: 1s;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.merch {
  display: grid;
  margin: 70px;
  font-family: "rubik", "Gill Sans", Calibri;
  overflow: hidden;
  font-size: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
  text-align: center;
  color: whitesmoke;
}
.merch .item div {
  background-color: #30354d;
  color: whitesmoke;
  border-radius: 15px;
  padding: 5px;
  margin: 0px 100px 100px 100px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.8);
}
.merch .item div:hover {
  background-color: black;
  color: whitesmoke;
  border-radius: 20px;
  padding: 15px;
  margin: 0px 100px 100px 100px;
}
.merch .item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.merch .item:hover {
  color: black;
  background-color: rgba(99, 54, 121, 0.4);
  transition: 1s;
  border-radius: 20px;
  transform: scale(1.05);
}

.agotado {
  cursor: no-drop;
}

.carrito {
  position: fixed;
  background-color: #30354d;
  border-radius: 70px;
  padding: 20px;
  bottom: 10px;
  right: 10px;
  background-color: white;
  transition: 1s;
}

@keyframes girarElemento {
  0% {
    rotate: 20deg;
  }
  50% {
    rotate: 30deg;
  }
  100% {
    rotate: 20deg;
  }
}
.girar {
  animation-name: girarElemento;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 1s;
}

.fotos {
  display: grid;
  margin: 70px;
  font-family: "rubik", "Gill Sans", Calibri;
  overflow: hidden;
  font-size: 1rem;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
}
.fotos img {
  width: 550px;
  height: 650px;
  border-radius: 20px;
}
.fotos img:active {
  width: 800px;
  height: 830px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: 1s;
  box-shadow: 100px 100px 20px rgba(0, 0, 0, 0.8);
}

.zoom {
  cursor: zoom-in;
}

@keyframes cambiarTamanio {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.tamanio, .tamanio-3, .tamanio-2 {
  animation-name: cambiarTamanio;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 1s;
}

.tamanio-2 {
  animation-delay: 1.2s;
}

.tamanio-3 {
  animation-delay: 1.4s;
}

.spotify iframe {
  width: auto;
  height: 400px;
  background-color: transparent;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  color: #30354d;
  font-family: "rubik", "Gill Sans", Calibri;
  border-top: 2px solid #30354d;
  font-weight: bolder;
  padding-top: 10px;
}

@media only screen and (max-width: 425px) {
  header {
    flex-direction: column;
    padding-bottom: 0px;
  }
  header img {
    display: block;
    width: 70%;
    height: auto;
  }
  header nav ul {
    margin: 0px;
    padding: 0px;
  }
  header nav ul li a {
    font-size: 4vw;
  }
  header nav ul .nav-item a {
    font-size: 4vw;
    padding-top: 9px;
  }
  footer {
    font-size: 0.6rem;
  }
  .eras {
    margin: 30px;
  }
  .grid-container {
    display: block;
    margin: 30px;
  }
  .grid-container .grid-item-1, .grid-container .grid-item-2, .grid-container .grid-item-3, .grid-container .grid-item-4 {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
  .grid-container .grid-item-1 img, .grid-container .grid-item-2 img, .grid-container .grid-item-3 img, .grid-container .grid-item-4 img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 40px;
    border-radius: 50px;
    padding: 20px;
    border-radius: 30px;
  }
  .grid-container .grid-item-1 p, .grid-container .grid-item-2 p, .grid-container .grid-item-3 p, .grid-container .grid-item-4 p {
    font-family: "rubik", "Gill Sans", Calibri;
    font-size: 1rem;
    text-align: justify;
    width: auto;
    overflow: hidden;
    margin: 40px;
    align-self: center;
    margin-top: 0px;
  }
  .grid-container-eras {
    display: block;
    margin: 30px;
  }
  .grid-container-eras .grid-item-era {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .grid-container-eras .grid-item-era img {
    display: block;
    width: 90%;
    height: auto;
    padding: 20px;
  }
  .grid-container-eras .grid-item-era p {
    font-family: "rubik", "Gill Sans", Calibri;
    font-size: 1rem;
    text-align: justify;
    width: auto;
    overflow: hidden;
    margin: 40px;
    align-self: center;
    padding-top: 50px;
  }
  .grid-container-eras .grid-item-era .spotify iframe {
    display: block;
    width: 95%;
    margin: auto;
  }
  .tour {
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .tour .encabezados h4 {
    font-size: 13px;
  }
  .tour .fecha {
    justify-content: space-between;
    padding: 20px;
    font-size: 10px;
  }
  .tour .fecha p {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .tour .fecha img {
    max-height: 20px;
    width: auto;
  }
  .tour .fecha:hover {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 426px) and (max-width: 1024px) {
  header {
    flex-direction: column;
    padding-bottom: 0px;
  }
  header img {
    display: block;
    width: 30%;
    height: auto;
  }
  header nav ul {
    margin: 0px;
    padding: 0px;
  }
  header nav ul li a {
    font-size: 15px;
  }
  header nav ul .nav-item a {
    font-size: 15px;
    padding-top: 9px;
  }
  footer {
    font-size: 0.6rem;
  }
  .eras {
    margin: 50px;
  }
  .grid-container {
    display: block;
    margin: 50px;
  }
  .grid-container .grid-item-1, .grid-container .grid-item-2, .grid-container .grid-item-3, .grid-container .grid-item-4 {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
  .grid-container .grid-item-1 img, .grid-container .grid-item-2 img, .grid-container .grid-item-3 img, .grid-container .grid-item-4 img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 40px;
    border-radius: 50px;
    padding: 20px;
    border-radius: 30px;
  }
  .grid-container .grid-item-1 p, .grid-container .grid-item-2 p, .grid-container .grid-item-3 p, .grid-container .grid-item-4 p {
    font-family: "rubik", "Gill Sans", Calibri;
    font-size: 1rem;
    text-align: justify;
    width: auto;
    overflow: hidden;
    margin: 40px;
    align-self: center;
    margin: 0px 30px 30px 30px;
  }
  .tour {
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .tour .encabezados h4 {
    font-size: 13px;
  }
  .tour .fecha {
    padding: 20px;
    font-size: 13px;
  }
  .tour .fecha p {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .tour .fecha img {
    max-height: 30px;
    width: auto;
  }
  .tour .fecha:hover {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 426px) and (max-width: 1303px) {
  .grid-container-eras {
    display: block;
    margin: 30px;
  }
  .grid-container-eras .grid-item-era {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .grid-container-eras .grid-item-era img {
    display: block;
    width: 90%;
    height: auto;
    padding: 20px;
  }
  .grid-container-eras .grid-item-era p {
    font-family: "rubik", "Gill Sans", Calibri;
    font-size: 1rem;
    text-align: justify;
    width: auto;
    overflow: hidden;
    margin: 40px;
    align-self: center;
    padding-top: 50px;
  }
  .grid-container-eras .grid-item-era .spotify iframe {
    position: relative;
    padding-right: 125px;
    width: 125%;
    height: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
