.titulo {
    color: whitesmoke;
    background-color: #30354d;
    text-align: center;
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
    border-bottom: 2px solid white;
    padding-top: 5px;
}