@media only screen and (min-width: 1025px) {
// Responsive para fotos.html
.fotos {
    img {
        width: auto; 
        height: auto; 
        max-width: 100%; 
        max-height: 100vh; 
        border-radius: 15px;
    }
}

// Responsive para merch.html
.item {
    img{
        max-width: 100%;
        height: auto; 
        max-height: 100vh;
    }
}
}