@media only screen and (max-width: 425px) {

    // Header para todas las paginas
    header{
        flex-direction: column;
        padding-bottom: 0px;

        img{
            display: block;  
            width: 70%;
            height: auto;
        }

        nav{

            ul{
                margin: 0px;
                padding: 0px;

                li{

                    a{
                        font-size: 4vw;
                    }
                }
                .nav-item{

                    a{
                        font-size: 4vw;
                        padding-top: 9px;
                    }
                }
            }
        }
    }

    footer{
        font-size: 0.6rem;
    }

    // Responsive para index.html
    // Carrusel
    .eras{
        margin: 30px;
    }

    // Cards
    .grid-container {
        display: block; 
        margin: 30px;

        .grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4 {
            display: block;
            width: 100%; 
            height: auto;
            margin-bottom: 25px;

            img{
                @include imagen-card();
                padding: 20px;
                border-radius: 30px;
            }

            p{
                @include texto-parrafo();
                margin-top: 0px;
            }
        }
    }

    // Responsive para Eras.html
    .grid-container-eras{
        display: block; 
        margin: 30px;

        .grid-item-era {
            flex-direction: column; 
            margin-bottom: 20px;

            img{
                display: block;  
                width: 90% ; 
                height: auto;
                padding: 20px;
            }

            p{
                @include texto-parrafo();
                padding-top: 50px;
            }

            .spotify{

                iframe {
                display: block; 
                width: 95%; 
                margin: auto; 
                }
            }
        }
    }

    // Responsive para tour.html
    .tour {
        grid-template-columns: 1fr; // Cambia a una sola columna
        margin: 20px;

        .encabezados{
            h4{
                font-size: 13px;
            }
        }

        .fecha {
            justify-content: space-between;
            padding: 20px;
            font-size: 10px;

            p{
                padding: 5px; // Ajusta el espacio izquierdo
                text-overflow: ellipsis;
                overflow: hidden;
            }

            img{
                max-height: 20px;
                width: auto;
            }

            &:hover{
                font-size: 0.6rem;
            }
        }
    }

}