@mixin texto-parrafo{
    font-family: $fuente;
    font-size: 1rem;
    text-align: justify;
    width: auto;
    overflow: hidden; 
    margin: 40px;
    align-self: center;
}

@mixin imagen-card{
    display: block;  
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 40px;
    border-radius: 50px;
}

@mixin estilo-card{
    background-color: $violeta;
    color: $azul;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin contenedores{
    display: grid;
    margin: 70px;
    font-family: $fuente;
    overflow: hidden;
    font-size: 1rem;
}