footer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    color: #30354d;
    font-family: 'rubik', Arial, Helvetica, sans-serif;
    border-top: 2px solid #30354d;
    font-weight: bolder;
    padding-top: 10px;
}