footer {
    display: flex;
    justify-content: center;
    background-color: $blanco;
    color: $azul;
    font-family: 'rubik', Arial, Helvetica, sans-serif;
    border-top: 2px solid $azul;
    font-weight: bolder;
    padding-top: 10px;
}