// Header
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid $azul;
    background-color: $blanco;

    img{
        width: 280px;
        height: 80px;
    }

    nav{

        ul{
            font-family: $fuente;
            list-style-type: none;
            display: flex;

            li{
                padding: 10px;

                a{
                    color: $azul;
                    text-decoration: none;
                    
                    &:hover{
                        text-decoration: none;
                        font-weight: bold;
                        color: $azul;
                        margin: 10px;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

.dropdown-menu {
    background-color: $azul;
}

.dropdown-item{
    color: $blanco;
}

.dropdown-item:hover {
    color: $azul;
}