// Cards
// Biografia
.grid-container {
    @include contenedores();
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 20px;
    grid-row-gap: 70px;
}

.grid-item-1 {
    @include estilo-card();
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
    
    p{
        @include texto-parrafo();
        max-height: 400px;
        text-align: center;

        &:hover{
            transform: translate(-20px, -20px);
            transition: 2s;
        }
    }

    img{
        @include imagen-card();
    }
}

// 3 cards del final
.grid-item-2 {
    @include estilo-card();

    &:hover{
        transform: translate(0px, -30px);
        transition: 2s;
    }

    img{
        @include imagen-card();
    }

    p{
        @include texto-parrafo();
    }
}

.grid-item-3, .grid-item-4{
    @extend .grid-item-2;
}