.eras {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
    box-shadow: 11px 11px 21px -1px rgba(0,0,0,0.65);
    -webkit-box-shadow: 11px 11px 21px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 11px 11px 21px -1px rgba(0,0,0,0.65);
}