.carrito{
    position: fixed;
    background-color: #30354d;
    border-radius: 70px;
    padding: 10px;
    bottom: 10px;
    right: 10px;

    &:active{
        background-color: rgb(53, 28, 65);
    }
}