// Contenedor de las eras
.grid-container-eras {
    @include contenedores();
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, auto);
    grid-row-gap: 30px;
}

// Eras por separado
.grid-container-eras{

    .grid-item-era{
        @include estilo-card();
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titulo-era{
            position: absolute;
            font-size: 1.5rem;
            align-self: flex-start;
            padding: 20px;
        }

        p {
            @include texto-parrafo();
            margin: 30px;
            padding-top: 30px;
            max-height: 340px;
        }

        img {
            width: auto;
            height: 405px;
            border-radius: 30px;
            padding: 20px;
        }
    }
}

// Hovers para cambio de color y tamaño
#taylorswift{
    &:hover{
        background-color: rgba(30, 148, 89, 0.527);
        transition: 1s;
        color: $blanco;
        transform: scale(1) translate(0px, 20px);
    }

    &:not(:hover){
        transform: scale(0.9);
    }
}

#fearless{
    @extend #taylorswift;
    &:hover{
        background-color: rgba(235, 232, 62, 0.37);
    }
}

#speaknow{
    @extend #taylorswift;
    &:hover{ 
        background-color: rgba(155, 15, 155, 0.774);
    }
}

#red{
    @extend #taylorswift;
    &:hover{
        background-color: rgb(153, 10, 10);
    }
}

#nineteen{
    @extend #taylorswift;
    &:hover{
        background-color: rgba(23, 99, 134, 0.651);
    }
}

#reputation{
    @extend #taylorswift;
    &:hover{
        background-color: rgb(0, 0, 0);
    }
}

#lover{
    @extend #taylorswift;
    &:hover{
        background-color: rgba(252, 9, 102, 0.801);
    }
}

#folklore{
    @extend #taylorswift;
    &:hover{
        background-color: rgba(49, 47, 47, 0.836);
    }
}

#evermore{
    @extend #taylorswift;
    &:hover{
        background-color: rgb(61, 18, 5);
    }
}

#midnights{
    @extend #taylorswift;
    &:hover{
        background-color: rgba(8, 22, 104, 0.753);
    }
}

#ttpd{
    @extend #taylorswift;
    &:hover{
        background-color: rgba(102, 78, 64, 0.959);
    }
}