// Galeria de fotos
.fotos {
    @include contenedores();
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 10px;
    justify-items: center; 
    align-items: center; 

    img {
        width: 550px;
        height: 650px;
        border-radius: 20px;

        &:active{
            width: 800px;
            height: 830px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            transition: 1s;
            box-shadow: 100px 100px 20px rgba(0, 0, 0, 0.8);
        }
    }
}

// Cursor
.zoom{
    cursor: zoom-in;
}

// Animaciones
@keyframes cambiarTamanio{

    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(1);
    }
}

.tamanio{
    animation-name: cambiarTamanio;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 1s;
}

.tamanio-2{
    @extend .tamanio;
    animation-delay: 1.2s;
}

.tamanio-3{
    @extend .tamanio;
    animation-delay: 1.4s;
}