// Galeria de fotos
.fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    column-gap: 10px;
    margin: 70px;
    justify-items: center; 
    align-items: center; 

    img {
        width: 550px;
        height: 650px;
        border-radius: 20px;

        &:active{
            width: 800px;
            height: 830px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            transition: 1s;
            box-shadow: 100px 100px 20px rgba(0, 0, 0, 0.8);
        }
    }
}