// Contenedor de la merch
.merch {
    @include contenedores();
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
    text-align: center;
    color: $blanco;

    // Cada item de la merch
    .item{

        div{
            background-color: $azul;
            color: $blanco;
            border-radius: 15px;
            padding: 5px;
            margin: 0px 100px 100px 100px;
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.8);

            &:hover{
                background-color: black;
                color: $blanco;
                border-radius: 20px;
                padding: 15px;
                margin: 0px 100px 100px 100px;
            }
        }

        img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
        }

        &:hover{
            color: black;
            background-color: $violeta;
            transition: 1s;
            border-radius: 20px;
            transform: scale(1.05);
        }
    }
}

// Cursor para item agotado
.agotado{
    cursor: no-drop;
}