// Tabla de fechas
.tour {
    @include contenedores();
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, 60px);
    color: $azul;
    text-align: center;
    border-radius: 15px;
    font-size: 1.3rem;

    // Encabezado
    .encabezados{
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-column: 1/4;
        padding: 15px;
        background-color: $azul;
        text-align: justify;
        color: $blanco;
        border-radius: 15px;
    }

    // Filas con fechas y estilo
    .fecha{
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: 1/4;
        background-color: $violeta;
        border: 1px solid white;
        padding: 20px;
        border-radius: 20px;

        &:hover{
            background-color: $azul;
            color: $blanco;
            font-size: 1.4rem;
            transition: 1s;
            text-shadow: 3px 3px 10px rgba(0,0,0,0.6);        }
    }
}
