//Variables

// Colores
$blanco:whitesmoke;
$azul:#30354d;
$rosa: #ecd0e2;
$violeta: rgba(99, 54, 121, 0.4);

// Fuente
$fuente: 'rubik','Gill Sans', Calibri;

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'rubik';
    src: url('../ProyectoFinal/Rubik/Rubik-VariableFont_wght.ttf');
}

body {
    background-color: $rosa;
}